fastapi
uvicorn
streamlit
faster-whisper
transformers
torch
pillow
sqlalchemy
python-multipart
requests
pydantic
python-dotenv
piper-tts
audio-recorder-streamlit
streamlit-webrtc
aiortc
soundfile
streamlit-mic-recorder
