fastapi
uvicorn
streamlit
pillow
sqlalchemy
python-multipart
requests
pydantic
python-dotenv
audio-recorder-streamlit
streamlit-webrtc
aiortc
soundfile
streamlit-mic-recorder
google-generativeai
groq
edge-tts
